<%- include ('../partials/header_html'); -%>

<head>
	<%- include ('../partials/title_meta'); -%>

	<%- include ('../partials/header_css'); -%>

	<link rel="stylesheet" href="assets/js/plugins/select2/css/select2.min.css">
	<!-- SweetAlert2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


   <!-- Include jQuery -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <!--DATEPICKER-->
  <link href="assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  

</head>

<body>
	<div id="page-container"
		class="sidebar-o sidebar-scroll page-header-dark enable-page-overlay side-scroll page-header-fixed">

		<%- include ('../partials/sidebar'); -%>
		<%- include ('../partials/topbar'); -%>

		<!-- Main Container -->
		<main id="main-container">
			<div id="user-role" data-permissions="<%= permissions %>"></div>
			<div class="content">
				<!-- Dynamic Table Responsive -->
				<div class="block block-rounded">
					<div class="block-header block-header-default">
						<h3 class="block-title">
							<div class="breadcrumb1 flat">
								<a href="/dashboard" ><span class="fa fa-home"></span></a>
								<a href="/game_statistic" >Statistics</a>
								<a href="/game_statistic">Game</a>
								<a href="#" class="active">Live</a>
							</div>
						</h3>
						<!-- <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<button type="button" class="btn btn-primary" onclick="addGameList()">
									<i class="fa fa-plus" aria-hidden="true"></i> New Game
								</button>
							</ol>
						</nav> -->


					</div>
					<div class="block-content block-content-full">
						

<style>
    .nav-tabs-custom .nav-link {
        padding: 0.5rem 1rem; /* Adjust padding as needed */
        font-size: 0.875rem; /* Adjust font size */
    }
    
    .nav-tabs-custom .nav-link .mdi {
        font-size: 1.25rem; /* Adjust icon size */
    }
    
    .nav-tabs-custom .nav-item {
        margin-bottom: 0; /* Adjust margin if needed */
    }
</style>

			
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active p-3" id="home2" role="tabpanel">
									<p class="mb-0">
									
										<table id="live_statistic-tbl" class="table table-striped table-bordered table-vcenter js-dataTable-responsive" style="width: 100%;">
											<thead>
												<tr>
												     <th class="d-none d-sm-table-cell text-center">GAME #</th>
													<th class="d-none d-sm-table-cell text-center">BUY-IN</th>
													<th class="d-none d-sm-table-cell text-center" >WIN/LOSS</th>
													<th class="d-none d-sm-table-cell text-center">ROLLING</th>
													<th class="d-none d-sm-table-cell text-center">COMMISSION</th>
													<th class="d-none d-sm-table-cell text-center">HOUSE SHARE(%)</th>
													<th class="d-none d-sm-table-cell text-center">NGR</th>
													<th class="d-none d-sm-table-cell text-center">RTP</th>
													<th class="d-none d-sm-table-cell text-center">RM</th>
													<th class="d-none d-sm-table-cell text-center">EXPENSE</th>
													<th class="d-none d-sm-table-cell text-center">PROFIT</th>
												</tr>
											</thead>
											<tbody class="text-center">
												<!-- Data will be populated here -->
											</tbody>
											<tfoot>
												<tr>
													
													<th>GRAND TOTAL</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_AMOUNT">₱0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_ROLLING">₱0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_CHIPS_RETURN">₱0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_WIN_LOSS">₱0.00</th>
													<th></th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_NGR">₱0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RTP">₱0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RM">₱0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_EXPENSE">₱0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_PROFIT">₱0.00</th>													
												</tr>
											</tfoot>
										</table>
										
										<script>
                                            $(document).ready(function() {
                                            	function initializeDataTable() {
                                            		if ($.fn.DataTable.isDataTable('#live_statistic-tbl')) {
                                            			$('#live_statistic-tbl').DataTable().destroy();
                                            		}
                                            
                                            		// $('#live_statistic-tbl').DataTable({
                                            		// 	"ajax": {
                                            		// 		"url": "/game_list_data",
                                            		// 		"dataSrc": function (json) {
                                            		// 			console.log("Data received from server:", json);
                                            		// 			return json.data || []; // Default to empty array if no data
                                            		// 		}
                                            		// 	},
                                            		// 	"columns": [
                                            		// 	   
                                            		// 	    { "data": "game_type" },
                                            		// 		
                                            		// 		{ "data": "total_amt" },
                                            		// 		{ "data": "win_loss" },
                                            		// 		{ "data": "total_rolling" },
                                            		// 		
                                            		// 		{ "data": "commission" }
                                            		// 		
                                            		// 	],
                                            		// 	"drawCallback": function() {
                                            		// 		calculateTotal();
                                            		// 	}
                                            		// });
                                            	}
                                            
                                            	
														initializeDataTable();
										
									
														
												function calculateTotal() {
													var totalAmount = 0;
													var totalRolling = 0;
													var totalChipsReturn = 0;
													var totalWinLoss = 0;
													var totalNgr = 0;
													var totalRtp = 0;
													var totalRm = 0;
													var totalExpense = 0;
													var totalProfit = 0;

													var table = $('#live_statistic-tbl').DataTable();
													table.rows({ search: 'applied' }).every(function() {
														var data = this.data();
														console.log("Processing object:", data);

														// Adjust these indices based on your columns configuration
														var amountIndex = 1; // Assuming "TOTAL AMT" is at index 4
														var rollingIndex = 2; // Assuming "TOTAL ROLLING" is at index 6
														var chipsReturnIndex = 3; // Assuming "CHIPS RETURN" is at index 7
														var winLossIndex = 4; // Assuming "WIN/LOSS" is at index 10
														var ngrIndex = 6;
														var rtpIndex = 7;
														var rmIndex = 8;
														var expenseIndex = 9;
														var profitIndex = 10;

														var amountValue = data[amountIndex] || '0';
														var rollingValue = data[rollingIndex] || '0';
														var chipsReturnValue = data[chipsReturnIndex] || '0';
														var winLossValue = data[winLossIndex] || '0';
														var ngrValue = data[ngrIndex] || '0';
														var rtpValue = data[rtpIndex] || '0';
														var rmValue = data[rmIndex] || '0';
														var expenseValue = data[expenseIndex] || '0';
														var profitValue = data[profitIndex] || '0';


														// Remove HTML tags and clean values
														var cleanedAmountValue = parseFloat(amountValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRollingValue = parseFloat(rollingValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedChipsReturnValue = parseFloat(chipsReturnValue.replace(/<[^>]*>/g, '').replace(/[^0-9.-]/g, '')) || 0;
														var cleanedWinLossValue = parseFloat(winLossValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedNgrValue = parseFloat(ngrValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRtpValue = parseFloat(rtpValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRmValue = parseFloat(rmValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedExpenseValue = parseFloat(expenseValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedProfitValue = parseFloat(profitValue.replace(/[^0-9.-]/g, '')) || 0;


														totalAmount += cleanedAmountValue;
														totalRolling += cleanedRollingValue;
														totalChipsReturn += cleanedChipsReturnValue;
														totalWinLoss += cleanedWinLossValue;
														totalNgr += cleanedNgrValue;
														totalRtp += cleanedRtpValue;
														totalRm += cleanedRmValue;
														totalExpense += cleanedExpenseValue;
														totalProfit += cleanedProfitValue;

													});

													// Format the totals
													var formattedAmount = totalAmount.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRolling =  totalRolling.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedChipsReturn = totalChipsReturn.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
													var formattedWinLoss = totalWinLoss.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedNgr = totalNgr.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRtp = totalRtp.toLocaleString();
													var formattedRm = totalRm.toLocaleString();
													var formattedExpense = totalExpense.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedProfit = totalProfit.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });

													// Update the footer content
													$('#live_statistic-tbl tfoot #GRAND_TOTAL_AMOUNT').text(formattedAmount);
													$('#live_statistic-tbl tfoot #GRAND_TOTAL_ROLLING').text(formattedRolling);
													$('#live_statistic-tbl tfoot #GRAND_CHIPS_RETURN').text(formattedChipsReturn);
													$('#live_statistic-tbl tfoot #GRAND_WIN_LOSS').text(formattedWinLoss);
													$('#live_statistic-tbl tfoot #GRAND_NGR').text(formattedNgr);
													$('#live_statistic-tbl tfoot #GRAND_RTP').text(formattedRtp);
													$('#live_statistic-tbl tfoot #GRAND_RM').text(formattedRm);
													$('#live_statistic-tbl tfoot #GRAND_EXPENSE').text(formattedExpense);
													$('#live_statistic-tbl tfoot #GRAND_PROFIT').text(formattedProfit);

													
												}

												// Attach events to recalculate totals on search and draw
												$('#live_statistic-tbl').on('search.dt draw.dt', function () {
													console.log("Search or draw event triggered");
													calculateTotal();
												});
											});
										</script>
									</p>
								</div>
							</div>
						</div>
					</div>
				
					
			</div>
			<!-- END Page Content -->
		</main>
		<!-- END Main Container -->
		
			<%- include ('add_expense') %>


		<%- include ('../partials/footer') %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="/assets/js/datatables/game_list_tables_datatables.min.js"></script>
		<script src="/assets/js/functions/live_stats.js"></script>
		<script src="assets/js/plugins/select2/js/select2.full.min.js"></script>
		<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
		

		<script>
			$('.js-select2').select2({
				placeholder: 'Select an option',
				dropdownParent: '#modal-new-game-list',
			});
			
		</script>
		
		<style>
			/* Adjust spacing and alignment for date range picker */
		 .dataTables_wrapper .row {
			 margin-bottom: 15px; /* Adjust spacing as needed */
		 }
		 
		 /* Flexbox layout for the date range picker */
		 .input-daterange {
			 display: flex;
			 justify-content: space-between;
			 position: relative;
			 left: 5.5rem; /* Adjust this value as needed */
		   top: 2.9rem;
		 }
		 
		 
		 /* Styling for form controls */
		 .input-daterange .form-control {
			 flex: 1;
			 margin-right: 5px; /* Adjust spacing between input fields */
		 }
		 
		 /* Remove margin from the last input */
		 .input-daterange .form-control:last-child {
			 margin-right: 0;
		 }
		 
		 
		 </style>



		<%- include ('../partials/footer_html'); -%>