<%- include ('../partials/header_html'); -%>

<head>
	<%- include ('../partials/title_meta'); -%>

	<%- include ('../partials/header_css'); -%>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	
  <!--DATEPICKER-->
  <link href="assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
  

</head>

<body>
	<div id="loading">
		<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
			<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
		</svg>
	</div>
	<div id="page-container"
		class="sidebar-o sidebar-scroll page-header-dark enable-page-overlay side-scroll page-header-fixed">

		<%- include ('../partials/sidebar'); -%>
		<%- include ('../partials/topbar'); -%>

		<!-- Main Container -->
		<main id="main-container">
			<div id="user-role" data-permissions="<%= permissions %>"></div>
			<div class="content">
				<!-- Dynamic Table Responsive -->
				<div class="block block-rounded">
					<div class="block-header block-header-default">
						<h3 class="block-title">
							<div class="breadcrumb1 flat">
								<a href="/dashboard" ><span class="fa fa-home"></span></a>
								<a href="/game_statistic" >Statistics</a>
								<a href="/game_statistic"class="active">Game</a>
							</div>
						</h3>
						<nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<div class="wrap">
									<button class="button"data-bs-toggle="modal" data-bs-target="#modal-stats"><i class="fa fa-plus" aria-hidden="true"></i>Create</button>
								  </div>
							</ol>
						</nav>
						

					</div>
					<div class="block-content block-content-full">

							<!-- Tab panes -->
							
									<p class="mb-0">
										<table class="table table-bordered " style="width: 100%;">
											<tfoot style="background-color: #f7f8fb; ">
												<tr>
													<th style="width: 170px;">GRAND TOTAL</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 125px;" id="GRAND_TOTAL_AMOUNT">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 155px;" id="GRAND_TOTAL_ROLLING">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 140px;" id="GRAND_CHIPS_RETURN">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 185px;" id="GRAND_WIN_LOSS">0.00</th>
													<th style="width: 223px;"></th>
													<th class="d-none d-sm-table-cell text-center" style="width: 100px;" id="GRAND_NGR">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 97px;" id="GRAND_RTP">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 90px;" id="GRAND_RM">0.00</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 145px;" id="GRAND_EXPENSE">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_PROFIT">0.00</th>
												</tr>
											</tfoot>
										</table>
										
										<table id="game_statistic-tbl" class="table table-bordered table-vcenter js-dataTable-responsive" style="width: 100%;">
											<thead>
												<tr>
												     <th class="d-none d-sm-table-cell text-center" >GAME TYPE</th>
													<th class="d-none d-sm-table-cell text-center">BUY-IN</th>
													<th class="d-none d-sm-table-cell text-center" >WIN/LOSS</th>
													<th class="d-none d-sm-table-cell text-center">ROLLING</th>
													<th class="d-none d-sm-table-cell text-center">COMMISSION</th>
													<th class="d-none d-sm-table-cell text-center" style="width: 50px !important;">HOUSE SHARE(%)</th>
													<th class="d-none d-sm-table-cell text-center" >NGR</th>
													<th class="d-none d-sm-table-cell text-center">RTP</th>
													<th class="d-none d-sm-table-cell text-center">RM</th>
													<th class="d-none d-sm-table-cell text-center">EXPENSE</th>
													<th class="d-none d-sm-table-cell text-center">PROFIT</th>
													
												</tr>
											</thead>
											<tbody class="text-center">
												<!-- Data will be populated here -->
											</tbody>
											<tfoot>
												<tr>
													
													<th>SUB TOTAL</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_AMOUNT">0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_ROLLING">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_CHIPS_RETURN">0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_WIN_LOSS">0.00</th>
													<th></th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_NGR">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RTP">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RM">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_EXPENSE">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_PROFIT">0.00</th>
													
													
													
												</tr>
											</tfoot>
										</table><script>
                                            $(document).ready(function() {
                                            	function initializeDataTable() {
                                            		if ($.fn.DataTable.isDataTable('#game_statistic-tbl')) {
                                            			$('#game_statistic-tbl').DataTable().destroy();
                                            		}
                                            
                                            		
                                            	}
                                            
														initializeDataTable();
										

												function calculateTotal() {
													var totalAmount = 0;
													var totalRolling = 0;
													var totalChipsReturn = 0;
													var totalWinLoss = 0;
													var totalNgr = 0;
													var totalRtp = 0;
													var totalRm = 0;
													var totalExpense = 0;
													var totalProfit = 0;

													var table = $('#game_statistic-tbl').DataTable();
													table.rows({ search: 'applied' }).every(function() {
														var data = this.data();

														// Adjust these indices based on your columns configuration
														var amountIndex = 1; // Assuming "TOTAL AMT" is at index 4
														var rollingIndex = 2; // Assuming "TOTAL ROLLING" is at index 6
														var chipsReturnIndex = 3; // Assuming "CHIPS RETURN" is at index 7
														var winLossIndex = 4; // Assuming "WIN/LOSS" is at index 10
														var ngrIndex = 6;
														var rtpIndex = 7;
														var rmIndex = 8;
														var expenseIndex = 9;
														var profitIndex = 10;

														var amountValue = data[amountIndex] || '0';
														var rollingValue = data[rollingIndex] || '0';
														var chipsReturnValue = data[chipsReturnIndex] || '0';
														var winLossValue = data[winLossIndex] || '0';
														var ngrValue = data[ngrIndex] || '0';
														var rtpValue = data[rtpIndex] || '0';
														var rmValue = data[rmIndex] || '0';
														var expenseValue = data[expenseIndex] || '0';
														var profitValue = data[profitIndex] || '0';

														// Remove HTML tags and clean values
														var cleanedAmountValue = parseFloat(amountValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRollingValue = parseFloat(rollingValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedChipsReturnValue = parseFloat(chipsReturnValue.replace(/<[^>]*>/g, '').replace(/[^0-9.-]/g, '')) || 0;
														var cleanedWinLossValue = parseFloat(winLossValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedngrValue = parseFloat(ngrValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRtpValue = parseFloat(rtpValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRmValue = parseFloat(rmValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedExpenseValue = parseFloat(expenseValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedProfitValue = parseFloat(profitValue.replace(/[^0-9.-]/g, '')) || 0;

														totalAmount += cleanedAmountValue;
														totalRolling += cleanedRollingValue;
														totalChipsReturn += cleanedChipsReturnValue;
														totalWinLoss += cleanedWinLossValue;
														totalNgr += cleanedngrValue;
														totalRtp += cleanedRtpValue;
														totalRm += cleanedRmValue;
														totalExpense += cleanedExpenseValue;
														totalProfit += cleanedProfitValue;
													});

													// Format the totals
													var formattedAmount = totalAmount.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRolling = totalRolling.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedChipsReturn = totalChipsReturn.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
													var formattedWinLoss = totalWinLoss.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedNgr = totalNgr.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRtp = totalRtp.toLocaleString();
													var formattedRm = totalRm.toLocaleString();
													var formattedExpense = totalExpense.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedProfit = totalProfit.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });


													// Update the footer content
													$('#game_statistic-tbl tfoot #GRAND_TOTAL_AMOUNT').text(formattedAmount);
													$('#game_statistic-tbl tfoot #GRAND_TOTAL_ROLLING').text(formattedRolling);
													$('#game_statistic-tbl tfoot #GRAND_CHIPS_RETURN').text(formattedChipsReturn);
													$('#game_statistic-tbl tfoot #GRAND_WIN_LOSS').text(formattedWinLoss);
													$('#game_statistic-tbl tfoot #GRAND_NGR').text(formattedNgr);
													$('#game_statistic-tbl tfoot #GRAND_RTP').text(formattedRtp);
													$('#game_statistic-tbl tfoot #GRAND_RM').text(formattedRm);
													$('#game_statistic-tbl tfoot #GRAND_EXPENSE').text(formattedExpense);
													$('#game_statistic-tbl tfoot #GRAND_PROFIT').text(formattedProfit);

													
												}

												// Attach events to recalculate totals on search and draw
												$('#game_statistic-tbl').on('search.dt draw.dt', function () {
													calculateTotal();
												});
											});

											$(document).ready(function() {
                                            	function initializeDataTable() {
                                            		if ($.fn.DataTable.isDataTable('#game_stats-tbl')) {
                                            			$('#game_stats-tbl').DataTable().destroy();
                                            		}
                                            
                                            		
                                            	}
                                            
														initializeDataTable();
										

												function calculateTotal() {
													var totalAmount = 0;
													var totalRolling = 0;
													var totalChipsReturn = 0;
													var totalWinLoss = 0;
													var totalNgr = 0;
													var totalRtp = 0;
													var totalRm = 0;
													var totalExpense = 0;
													var totalProfit = 0;

													var table = $('#game_game_stats-tbl').DataTable();
													table.rows({ search: 'applied' }).every(function() {
														var data = this.data();

														// Adjust these indices based on your columns configuration
														var amountIndex = 1; // Assuming "TOTAL AMT" is at index 4
														var rollingIndex = 2; // Assuming "TOTAL ROLLING" is at index 6
														var chipsReturnIndex = 3; // Assuming "CHIPS RETURN" is at index 7
														var winLossIndex = 4; // Assuming "WIN/LOSS" is at index 10
														var ngrIndex = 6;
														var rtpIndex = 7;
														var rmIndex = 8;
														var expenseIndex = 9;
														var profitIndex = 10;

														var amountValue = data[amountIndex] || '0';
														var rollingValue = data[rollingIndex] || '0';
														var chipsReturnValue = data[chipsReturnIndex] || '0';
														var winLossValue = data[winLossIndex] || '0';
														var ngrValue = data[ngrIndex] || '0';
														var rtpValue = data[rtpIndex] || '0';
														var rmValue = data[rmIndex] || '0';
														var expenseValue = data[expenseIndex] || '0';
														var profitValue = data[profitIndex] || '0';

														// Remove HTML tags and clean values
														var cleanedAmountValue = parseFloat(amountValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRollingValue = parseFloat(rollingValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedChipsReturnValue = parseFloat(chipsReturnValue.replace(/<[^>]*>/g, '').replace(/[^0-9.-]/g, '')) || 0;
														var cleanedWinLossValue = parseFloat(winLossValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedngrValue = parseFloat(ngrValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRtpValue = parseFloat(rtpValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedRmValue = parseFloat(rmValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedExpenseValue = parseFloat(expenseValue.replace(/[^0-9.-]/g, '')) || 0;
														var cleanedProfitValue = parseFloat(profitValue.replace(/[^0-9.-]/g, '')) || 0;

														totalAmount += cleanedAmountValue;
														totalRolling += cleanedRollingValue;
														totalChipsReturn += cleanedChipsReturnValue;
														totalWinLoss += cleanedWinLossValue;
														totalNgr += cleanedngrValue;
														totalRtp += cleanedRtpValue;
														totalRm += cleanedRmValue;
														totalExpense += cleanedExpenseValue;
														totalProfit += cleanedProfitValue;
													});

													// Format the totals
													var formattedAmount = totalAmount.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRolling = totalRolling.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedChipsReturn = totalChipsReturn.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 2 });
													var formattedWinLoss = totalWinLoss.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedNgr = totalNgr.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedRtp = totalRtp.toLocaleString();
													var formattedRm = totalRm.toLocaleString();
													var formattedExpense = totalExpense.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });
													var formattedProfit = totalProfit.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });


													// Update the footer content
													$('#game_stats-tbl tfoot #GRAND_TOTAL_AMOUNT').text(formattedAmount);
													$('#game_stats-tbl tfoot #GRAND_TOTAL_ROLLING').text(formattedRolling);
													$('#game_stats-tbl tfoot #GRAND_CHIPS_RETURN').text(formattedChipsReturn);
													$('#game_stats-tbl tfoot #GRAND_WIN_LOSS').text(formattedWinLoss);
													$('#game_stats-tbl tfoot #GRAND_NGR').text(formattedNgr);
													$('#game_stats-tbl tfoot #GRAND_RTP').text(formattedRtp);
													$('#game_stats-tbl tfoot #GRAND_RM').text(formattedRm);
													$('#game_stats-tbl tfoot #GRAND_EXPENSE').text(formattedExpense);
													$('#game_stats-tbl tfoot #GRAND_PROFIT').text(formattedProfit);

													
												}

												// Attach events to recalculate totals on search and draw
												$('#game_stats-tbl').on('search.dt draw.dt', function () {
													calculateTotal();
												});
											});
										</script>

										<table id="game_stats-tbl" class="table table-bordered table-vcenter js-dataTable-responsive" style="width: 100%;">
											<thead>
												<tr>
												     <th class="d-none d-sm-table-cell text-center">GAME TYPE</th>
													<th class="d-none d-sm-table-cell text-center">BUY-IN</th>
													<th class="d-none d-sm-table-cell text-center" >WIN/LOSS</th>
													<th class="d-none d-sm-table-cell text-center">ROLLING</th>
													<th class="d-none d-sm-table-cell text-center">COMMISSION</th>
													<th class="d-none d-sm-table-cell text-center">HOUSE SHARE(%)</th>
													<th class="d-none d-sm-table-cell text-center">NGR</th>
													<th class="d-none d-sm-table-cell text-center">RTP</th>
													<th class="d-none d-sm-table-cell text-center">RM</th>
													<th class="d-none d-sm-table-cell text-center">EXPENSE</th>
													<th class="d-none d-sm-table-cell text-center">PROFIT</th>
													
												</tr>
											</thead>
											<tbody class="text-center">
												<!-- Data will be populated here -->
											</tbody>
											<tfoot>
												<tr>
													
													<th>SUB TOTAL</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_AMOUNT">0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_TOTAL_ROLLING">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_CHIPS_RETURN">0.00</th>
													
													<th class="d-none d-sm-table-cell text-center" id="GRAND_WIN_LOSS">0.00</th>
													<th></th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_NGR">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RTP">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_RM">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_EXPENSE">0.00</th>
													<th class="d-none d-sm-table-cell text-center" id="GRAND_PROFIT">0.00</th>
													
													
													
												</tr>
											</tfoot>
										</table>

										<script>
											$(document).ready(function() {
												function initializeGameStatsTable() {
													if ($.fn.DataTable.isDataTable('#game_stats-tbl')) {
														$('#game_stats-tbl').DataTable().destroy();
													}
										
													$('#game_stats-tbl').DataTable({
														"ajax": {
															"url": "/get_stats_data", // URL for the game statistics data
															"dataSrc": function (json) {
																return json.data || []; // Default to empty array if no data
															}
														},
														"columns": [
															{ "data": "gameType" },
															{ "data": "BUY_IN_STATS" },
															{ "data": "winLoss" },
															{ "data": "rolling" },
															{ "data": "commission" },
															{ "data": "houseShare" },
															{ "data": "ngr" },
															{ "data": "rtp" },
															{ "data": "rm" },
															{ "data": "expense" },
															{ "data": "profit" }
														],
														"drawCallback": function() {
															calculateGameStatsTotal();
														}
													});
												}
										
												initializeGameStatsTable();
										
												function calculateGameStatsTotal() {
													// Initialize totals
													var totalAmount = 0;
													var totalRolling = 0;
													var totalChipsReturn = 0;
													var totalWinLoss = 0;
													var totalNGR = 0;
													var totalRTP = 0;
													var totalRM = 0;
													var totalExpense = 0;
													var totalProfit = 0;
										
													var table = $('#game_stats-tbl').DataTable();
													table.rows({ search: 'applied' }).every(function() {
														var data = this.data();
														

														// Accumulate totals based on the relevant column indexes
														var buyInValue = parseFloat(data['BUY_IN_STATS'] || 0);
														
														totalAmount += buyInValue;
										
														totalRolling += parseFloat(data['ROLLING_STATS'] || 0);
														totalChipsReturn += parseFloat(data['COMMISSION_STATS'] || 0);
														totalWinLoss += parseFloat(data['HOUSE_SHARE_STATS'] || 0);
														totalNGR += parseFloat(data['NGR_STATS'] || 0);
														totalRTP += parseFloat(data['RTP_STATS'] || 0);
														totalRM += parseFloat(data['RM_STATS'] || 0);
														totalExpense += parseFloat(data['EXPENSE_STATS'] || 0);
														totalProfit += parseFloat(data['PROFIT_STATS'] || 0);
													});
										
													// Update footer content
													$('#game_stats-tbl tfoot #GRAND_TOTAL_AMOUNT').text(totalAmount.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_TOTAL_ROLLING').text(totalRolling.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_CHIPS_RETURN').text(totalChipsReturn.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_WIN_LOSS').text(totalWinLoss.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_NGR').text(totalNGR.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_RTP').text(totalRTP.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_RM').text(totalRM.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_EXPENSE').text(totalExpense.toFixed(2));
													$('#game_stats-tbl tfoot #GRAND_PROFIT').text(totalProfit.toFixed(2));
										
												}
										
												// Attach events to recalculate totals on search and draw
												$('#game_stats-tbl').on('search.dt draw.dt', function () {
													calculateGameStatsTotal();
												});
											});
										</script>
										
										
										
									</p>
							
						</div>
					</div>
				
					
			</div>
			<!-- END Page Content -->
		</main>
		<!-- END Main Container -->

		<%- include ('add_house_share') %>

		<%- include ('../partials/footer') %>
		<%- include ('../modals/statistics/game_stats'); -%>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="/assets/js/datatables/game_list_tables_datatables.min.js"></script>
		<script src="/assets/js/functions/game_stats.js"></script>
		<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
		

	
		
		<style>

.nav-tabs-custom .nav-link {
        padding: 0.5rem 1rem; /* Adjust padding as needed */
        font-size: 0.875rem; /* Adjust font size */
    }
    
    .nav-tabs-custom .nav-link .mdi {
        font-size: 1.25rem; /* Adjust icon size */
    }
    
    .nav-tabs-custom .nav-item {
        margin-bottom: 0; /* Adjust margin if needed */
    }
			/* Adjust spacing and alignment for date range picker */
		 .dataTables_wrapper .row {
			 margin-bottom: 15px; /* Adjust spacing as needed */
		 }
		 
		 /* Flexbox layout for the date range picker */
		 .input-daterange {
			 display: flex;
			 justify-content: space-between;
			 position: relative;
			 left: 5.5rem; /* Adjust this value as needed */
		   top: 2.9rem;
		 }
		 
		 
		 /* Styling for form controls */
		 .input-daterange .form-control {
			 flex: 1;
			 margin-right: 5px; /* Adjust spacing between input fields */
		 }
		 
		 /* Remove margin from the last input */
		 .input-daterange .form-control:last-child {
			 margin-right: 0;
		 }
		 
		 
		 </style>



		<%- include ('../partials/footer_html'); -%>

		